<h1>{{title}}</h1>
<h6>{{intertitre}}</h6>
<p>{{texte}}</p>
<hr>

{{#each articles}}
    <a href="/articles/{{this.id}}">
        <h2>{{this.titre}}</h2>
        <div>{{this.sous_titre}}</div>
    </a>
    <hr>
{{/each}}
