<h1>{{title}}</h1>
<hr>

<form action="/formulaire/contact" method="POST">
    <br>Nom:<br><input type="text" name="nom">
    <br>Prenom:<br><input type="text" name="prenom">
    <br>Courriel:<br><input type="text" name="courriel">
    <br>Téléphone:<br><input type="number" name="telephone">
    <br>Sujet de la demande:<br>
    <select name="sujet" id="sujet" form="demandeform">
        <option value="demande">Inscription</option>
        <option value="demande">Demande de formation</option>
    </select>
    <br>Champs de la demande<br><textarea name="desc" cols="30" rows="10"></textarea>
    <br><input type="submit" value="Envoyer">
</form>