body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #a331e6;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  color: rgb(138, 138, 138);
}

h6 {
  font-size: 14px;
  color: rgb(179, 179, 179);
}
